.contato {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contato .container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.container .about {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 16px;
  padding: 0.5rem;
  width: 10rem;
}

.container .title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.redes-sociais img {
  width: 5rem;
  height: 5rem;
}

.redes-sociais img:hover {
  transform: scale(1.2);
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .container .title {
    font-size: 2rem;
  }

  .redes-sociais img {
    width: 3rem;
    height: 3rem;
  }
}