.contact-section {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin-top: 50px;
}

.social-media {
  display: flex;
  margin-top: 20px;
  gap: 2rem;
}

.social-media img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 7rem;
  border-radius: 16px;
  border: 2px solid var(--secondary);
  padding: 1rem;
}

.social-media img:hover {
  transform: scale(1.05);
}

/* Adicione as regras de mídia aqui */
@media screen and (max-width: 768px) {
  .contact-section {
    margin-top: 30px;
  }

  .social-media {
    flex-wrap: wrap;
    justify-content: center;
  }

  .social-media img {
    width: 5rem;
    height: 5rem;
  }
}
