.curriculum-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  color: var(--white);
}

.education-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}


.education-section .container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.training {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.courstraining > div:nth-child(4n+1) {
  clear: left;
}

.courses {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.courses > div:nth-child(4n+1) {
  clear: left;
}

.education-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30rem;
  gap: 2rem;
  border: 2px solid var(--secondary);
  border-radius: 16px;
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  height: 10rem;
}

.education-item  p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.education-item  span {
  color: var(--secondary);
  font-weight: bold;

}

.education-item:hover {
  transform: scale(1.1);
}

.skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.skills-container img {
  border-radius: 16px;
  border: 2px solid var(--secondary);
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  width: 10rem;
  height: 10rem;
}

.skills-container img:hover {
  transform: scale(1.1);
}

.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* Responsividade*/

@media screen and (max-width: 768px) {
  .education-item {
    width: 80%; 
  }

  .skills-container img {
    width: calc(50% - 4rem);
  }
}

@media screen and (max-width: 480px) {
  .curriculum-section,
  .education-section,
  .training,
  .courses,
  .skills-section {
    gap: 1rem;
  }

  .education-item,
  .skills-container img {
    padding: 0.5rem; 
  }
}
