.footer {
  display: flex;
  justify-content: center;
  padding: 0 10rem;
}

.copy {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--white);
  text-align: center;
  padding: 2rem 10rem;
  border-top: solid 0.1px rgba(255, 255, 255, 0.102);
}

.footer .copy img {
  width: 9rem;
  height: 2rem;
  color: var(--white);
  margin: 2rem;
}
