.header {
  background: linear-gradient(to bottom, var(--secondary) -12%, var(--primary));
  width: 100%;
  display: flex;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem 0;
}

.logo {
  width: 10rem;
  height: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--white);
}

.nav-item a:hover {
  color: var(--primary);
  transition: 0.3s;
}

.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.home-intro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  text-align: center;
}

.home-intro p {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Typing Effect */
.typed-container {
  display: flex;
}

.typed-container p {
  font-size: 4rem;
  padding: 2rem 0;
  letter-spacing: 0.1rem;
}

.typed-container p span.typed-text {
  color: var(--white);
  font-weight: bold;
}

.typed-container p span.cursor {
  display: inline-block;
  background-color: var(--white);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 0.5s infinite;
}

.typed-container p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0% {
    background-color: var(--white);
  }
  49% {
    background-color: var(--white);
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: var(--white);
  }
}
/* Typing Effect */

/* Home Button Effect */
button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(2.8em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(8em);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/* Home Button Effect */

.home-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-image img {
  width: 80%;
  height: 80%;
}

/* Responsive Styles */
@media (max-width: 768px) {

  .navigation {
    margin-bottom: 3rem;
  }
  .nav-list {
    margin-top: 1rem;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .home-section {
    grid-template-columns: 1fr;
  }

  .home-intro {
    align-items: center;
    text-align: center;
  }

  .typed-container p {
    font-size: 3rem;
  }

  .home-image img {
    width: 70%;
    height: auto;
  }
}

@media (max-width: 400px) {
  .nav-sidebar {
    width: 100% !important;
  }
}

.nav-sidebar{
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px !important;
  z-index: 999;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgba(229, 57, 53, 0.2);
  backdrop-filter: blur(10px);
  color: var(--primary);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  gap: 1rem;
  padding: 1rem 0 0 2rem;
}

.nav-sidebar li{
  width: 100%;
}

.nav-sidebar a{
  width: 100%;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon-close{
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .hideOnMobile {
    display: none;
  }
}

@media (max-width: 400px) {
  .nav-sidebar{
    width: 100%!important;
  }
}
