.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: var(--white);
}

.portfolio-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.portfolio-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  height: 30rem;
  gap: 1rem;
  border: 2px solid var(--secondary);
  border-radius: 16px;
  margin-top: 3rem;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  padding: 1rem;
}

.portfolio-item p {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.portfolio-item:hover {
  transform: scale(1.05);
}

.portfolio-item:hover::after {
  content: "Visite o site";
  position: absolute;
  height: 99%;
  width: 99%;
  background-color: rgba(0, 0, 0, 0.644);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  border-radius: 16px;
  cursor: pointer;
  margin: 2rem;
}

/* Media query para dispositivos com largura de tela menor que 768px */
@media (max-width: 767px) {
  .portfolio-item {
    max-width: 70%;
    height: auto;
    margin-top: 2rem;
  }
}
