.portfolio {
  color: var(--white);
  display: flex;
  justify-content: center;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.container .about {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 16px;
  padding: 0.5rem;
  width: 10rem;
}

.container .title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}