.section {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  color: var(--white);
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  gap: 2rem;
}

.personal-description {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-info {
  display: flex;
  gap: 5rem;
}

.personal-info p {
  color: var(--secondary);
}

.personal-description p {
  text-align: justify;
}

.personal-description span {
  color: var(--secondary);
}

.about-image {
  border-radius: 16px!important;
  border: 2px solid var(--secondary);
  display: flex;
  justify-content: start;
  align-items: start;
  width: 20rem;
}

.about-image img {
  border-radius: 16px;
  width: 20rem;
  height: 25rem;
  margin: 2rem 0 0 -2rem;
}

.motivations{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.motivation-item, .goals-item, .hobbies-item {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.motivation-item div, .goals-item div, .hobbies-itemdiv div {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}

.motivation-item img, .goals-item img, .hobbies-item img {
  width: 20rem;
  border-radius: 16%;
  border: 2px solid var(--secondary);
}

.motivation-item p, .goals-item p, .hobbies-item p {
  width: 80%;
  height: auto;
  text-align: justify;
  border: 2px solid var(--secondary); 
  border-radius: 16px ; 
  padding: 1rem;
}

.motivation-item span, .goals-item span, .hobbies-item span {
  color: var(--secondary);
}

.personal-hobbies {
  display: flex;
  gap: 2rem;
}

/* Media queries para tornar o código responsivo */

@media screen and (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
  }

  .about-image {
    width: 70%;
  }

  .about-image img {
    width: 100%;
    height: auto;
    margin: 2rem 0 -2rem -2rem;
  }

  .motivation-item div, .goals-item div, .hobbies-itemdiv div {
    display: flex;
    flex-direction: column;
}

.personal-hobbies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-self: center;
}


}

@media screen and (max-width: 480px) {
  .about-text {
    width: 80%;
  }

  .personal-hobbies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    justify-content: center;
   align-self: center;
  }

  .personal-hobbies img {
    width: 80%;
  }
}
