@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Baskervville+SC&family=Kode+Mono:wght@400..700&display=swap');
@import url('src/css/pages/index/partials/footer.css');

:root {
  --primary: #000000;
  --secondary: #e53939;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html, body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(to bottom, var(--secondary) -12%, var(--primary));
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.header img {
  width: 10rem;
  height: 2rem;
}

.header nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 10rem;
  justify-content: space-between;
  
}

.header nav ul {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  font-size: 1.3rem;
}

.header nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;

}

.header nav ul li a:hover {
  color: var(--primary);
  transition: 0.5s;
  font-weight: bold;

}

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  flex-direction: column;
  font-size: 18px;
  height: 50rem;
  padding: 0 10rem;
  width: 100%;
  justify-items: start;
  align-items: center;
  font-weight: bold;

}

.home p {
  font-size: 1.5rem;
}

/* Typing Effect */
.container-typed-text {
  display: flex;
}

.container-typed-text p {
  font-size: 4rem;
  padding: 2rem 0;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}

.container-typed-text p span.typed-text {
  font-weight: normal;
  color: var(--white);
  font-weight: bold;
}

.container-typed-text p span.cursor {
  display: inline-block;
  background-color: var(--white);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 0.5s infinite;
}

.container-typed-text p span.cursor.typing {
  animation: none;
}

@keyframes blink {
  0%  { background-color: var(--white); }
  49% { background-color: var(--white); }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: var(--white); }
}
/* Typing Effect */

/* Home Button Effect */
button {
  font-family: inherit;
  font-size: 17px;
  background: var(--white);
  color: var(--secondary);
  padding: 1.2rem 1.2em;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(2.8em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(8em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
/* Home Button Effect */


.home .column2 img{
  padding-top: -20rem;
  height: 40rem;
  width: 40rem;
  background-size: cover;
  background-position: center;
}


.aboutme {
  color: var(--white);
  height: 55rem;
  display: flex;
  justify-content: center;
}

.aboutme .container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.container .about {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 16px;
  padding: 0.5rem;
  width: 10rem;
}

.container .title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.container .container-description {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
  padding-left: 10rem;
}

.container .container-description h1 {
  padding-top: 6rem;
  font-size: 2rem;
}

.container .container-description p {
  font-size: 1.5rem;
  padding-top: 1rem;
}

.container-information {
  display: flex;
  justify-content: center;
}

.container-information .contacts {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-self: end;
  width: 100%;
}

.contacts div {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 2rem;
}

.contacts h1 {
  padding-top: 2rem !important;
  font-size: 12px !important;
}

.container-information p {
  font-size: 15px !important;
  font-weight: bold;
  color: var(--secondary);
  padding: none;
}

.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 25rem;
  width: 25rem;
  padding-top: 3rem;
  padding-right: 3rem;
  background-size: cover;
  background-position: center;
  border: solid 3px var(--secondary);
}

.container-img img{
  border-radius: 16px;
  height: 25rem;
  width: 25rem;
}



.curriculo {
  height: 10rem;
}

.portfolio {
  height: 10rem;
}

.portfolio {
  height: 10rem;
}

.contato {
  height: 60rem;
  color: var(--white);
  height: 50rem;
  display: flex;
  justify-content: center;
}

.contato .container {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.contato .redes-sociais {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
  color: var(--secondary);
}

.contato .social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--white);
  border-radius: 16px;
  margin: 1rem;
  width: 8rem;
  height: 8rem;
}

.contato .social svg {
  background-color: ;
  height: 6rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0 10rem;
}

.copy {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: var(--white);
  text-align: center;
  padding: 2rem 10rem;
  border-top: solid 0.1px rgba(255, 255, 255, 0.102);
}

.footer .copy img {
  width: 9rem;
  height: 2rem;
  color: var(--white);
  margin: 2rem;
}
