@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Baskervville+SC&family=Kode+Mono:wght@400..700&display=swap');

:root{
    --primary: #000000;
    --secodary: #e53939;
    --branco: #ffffff;   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    
}

html, body{
    background-color: var(--primary);
    margin: 0;
    padding: 0;
}

.header{
    background-color: var(--branco);
    height: 7rem;
    width: 100%;
    padding: 0 10rem;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    box-shadow: solid 2px --primary;
}

.header h1{
    color: var(--secodary);
    font-weight: bold;
}

.header nav ul{
    display: flex;
    list-style-type: none;
    gap: 4rem;
    font-size: 1.4rem;
}

.header nav ul li a{
    color: var(--primary);
    text-decoration: none;
}

.header nav ul li a:hover{
    color: var(--secodary);
    transition: 0.5s;
}

.home {
    background-image: url('/src/svg/layered-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-direction: column;
    font-size: 18px;
    height: 60rem;
    padding: 0 10rem;
    align-items: center;
}

.home p {
    font-size: 1.5rem;
}

/*EFEITO DE DIGITAÇÃO*/
.container-typed-text {
  display: flex;
}

.container-typed-text p {
  font-size: 4rem;
  padding: 2rem 0;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container-typed-text p span.typed-text {
  font-weight: normal;
  color: var(--primary);
  font-weight: bold;
}
.container-typed-text p span.cursor {
  display: inline-block;
  background-color: var(--branco);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 0.5s infinite;
}
.container-typed-text p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: var(--branco); }
  49% { background-color: var(--branco); }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: var(--branco); }
}
/*EFEITO DE DIGITAÇÃO*/

/*EFEITO BUTTTON HOME*/
button {
    font-family: inherit;
    font-size: 17px;
    background: var(--primary);
    color: white;
    padding: 1.2rem 1.2em;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(2.8em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(8em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
    transform: translateY(0.1em);
  }
  
  to {
    transform: translateY(-0.1em);
  }
  }
  
/*EFEITO BUTTTON HOME*/


.home .fancy-border-radius{
  background-color: var(--primary);
  width: 30rem;
  height: 30rem;
  border-radius: 77% 23% 45% 55% / 58% 57% 43% 42%  ;
}

.home .column2{
  display: flex;
  justify-content: center;
}

.home .fancy-border-radius img{
  width: 102%;
  height: 100%;
  border-radius: 77% 23% 45% 55% / 58% 57% 43% 42%  ;
}


.aboutme{
  color: var(--branco);
  height: 50rem;
  display: flex;
  justify-content: center;
}

.aboutme .container{
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  width: 100%;
  justify-items: center;
  align-items: center;
}

.container .about{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--secodary);
  border-radius: 16px;
  padding: 0.5rem;
  width: 10rem;
}

.container .title {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 2rem 0;
}

.container .container-description{
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 1rem;
  padding-left: 10rem;
}

.container .container-description h1{
  padding-top: 6rem;
  font-size: 2rem;
}

.container .container-description p{
  font-size: 1.5rem;
  padding-top: 1rem;
}

.container-information{
  display: flex;
  justify-content: center;
}

.container-information .contacts{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-self: end;
  width: 100%;
}

.contacts div{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 2rem;
}

.contacts h1{
  padding-top: 2rem !important;
  font-size: 12px !important;
}

.container-information p{
  font-size: 15px !important;
  font-weight: bold;
  color: var(--secodary);
  padding: none;
}

.container-img{
  display: flex;
  justify-content: center;
  height: 25rem;
  padding-right: 10rem;
}
.portfolio{
  background-color: rgb(191, 255, 71);
  height: 10rem;
}

.portfolio{
  background-color: rgb(255, 71, 120);
  height: 10rem;
}

.contato{
  background-color: rgb(71, 255, 218);
  height: 10rem;
}

.footer{
  background-color: tomato;
  height: 10rem;
  padding: 0;
}
