:root {
  --primary: #000000;
  --secondary: #e53939;
  --white: #ffffff;
  --gray:#8c8989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

html, body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-self: center;
}

/* Estilos para dispositivos com largura de tela menor ou igual a 768px */
@media (max-width: 768px) {
  /* Adicione aqui os estilos específicos para dispositivos móveis */
  body {
    font-size: 14px;
  }
}